.background {
    background-color: lightgrey;
    border: 5px;
}
h1 {
    color: lightblue;
}
p {
    font-size: 35px;
    color: black;
    border: 5px;
    text-align: center;
    background-color: lightgrey;
    
}
.card-container {
    display: flex; /* enable flexbox on the card container */
    flex-wrap: wrap; /* allow the cards to wrap to the next line */
    height: 100px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
  }
  .card {
    flex: 1 0 300px; /* take up 1 unit of space, but have a minimum width of 200px */
    border: 2px black solid;
  }

    .navbar {
    border: 5px;
    background-color: lightgreen;
  }

  .grid-container {
    text-align: center;
    padding: 20px 0;
    font-size: 25px;
    background-color: lightgray;
  }
  header {
    text-align: center;
    padding: 20px 0;
    font-size: 50px;
    background: lightgray;
    color: black;
  }
  
  .card-container {
    display: flex; /* enable flexbox on the card container */
    flex-wrap: wrap; /* allow the cards to wrap to the next line */
    height: 100px;
  }
  .card {
    flex: 1 0 300px; /* take up 1 unit of space, but have a minimum width of 200px */
    border: 2px black solid;
  }